In [214]:
import pandas as pd
from io import StringIO
import boto3
import time

AWS_ACCESS_KEY = ""
AWS_ACCESS_SECRET = ""
AWS_REGION = "us-east-1"
SCHEMA_NAME = "bigdata-covid-db"
S3_STAGING_DIR = "s3://bigdata-covid-project-athena/athena-output-data/"
S3_BUCKET_NAME = "bigdata-covid-project-athena"
S3_OUTPUT_DIRECTORY = "athena-output-data"

In [215]:
athena_client = boto3.client("athena",
                            aws_access_key_id = AWS_ACCESS_KEY,
                            aws_secret_access_key = AWS_ACCESS_SECRET,
                            region_name = AWS_REGION,
                            )

In [216]:
#querying athena and storing into pandas dataframe
Dict = {}
def download_and_load_query_results(client: boto3.client, 
                                    query_response: Dict
                                   )-> pd.DataFrame:
    while True:
        try:
            client.get_query_results(
            QueryExecutionId = query_response["QueryExecutionId"])
            break
        except Exception as err:
            if "not yet finished" in str(err):
                time.sleep(0.001)
            else:
                raise err
    temp_file_location: str = "athena_query_results.csv"
    s3_client = boto3.client(
    "s3",
    aws_access_key_id=AWS_ACCESS_KEY,
    aws_secret_access_key=AWS_ACCESS_SECRET,
    region_name=AWS_REGION,
    )
    s3_client.download_file(
    S3_BUCKET_NAME,
    f"{S3_OUTPUT_DIRECTORY}/{query_response['QueryExecutionId']}.csv",
    temp_file_location,
    )
    return pd.read_csv(temp_file_location)
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM vaccinations",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)
response

{'QueryExecutionId': '932776f2-431e-497a-aabd-d059b3352964',
 'ResponseMetadata': {'RequestId': 'd414c18a-e357-427e-b5ec-9476527734d9',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Fri, 10 Nov 2023 14:05:53 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': 'd414c18a-e357-427e-b5ec-9476527734d9'},
  'RetryAttempts': 0}}

In [217]:
vaccinations = download_and_load_query_results(athena_client, response)

In [218]:
vaccinations.head()

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0,1367.0,0.003
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0,1367.0,0.003
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0,1367.0,0.003
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0,1367.0,0.003

In [219]:
#Repeat above step for remaining two tables as well by changing the table name and variable name of the dataframe
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM vaccinations_by_manufacturer",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)
response
vaccinations_by_manufacturer = download_and_load_query_results(athena_client, response)
vaccinations_by_manufacturer.head()

    location        date             vaccine  total_vaccinations
0  Argentina  2020-12-29             Moderna                   2
1  Argentina  2020-12-29  Oxford/AstraZeneca                   7
2  Argentina  2020-12-29     Pfizer/BioNTech                   1
3  Argentina  2020-12-29   Sinopharm/Beijing                   3
4  Argentina  2020-12-29           Sputnik V               20484

In [220]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM location",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)
response
location = download_and_load_query_results(athena_client, response)
location.head()

,col0,col1,col2,col3,col4,col5
0,location,iso_code,vaccines,last_observation_date,source_name,source_website
1,Afghanistan,AFG,"CanSino, Covaxin, Johnson&Johnson, Moderna, Ox...",2022-06-01,World Health Organization,https://covid19.who.int/
2,Albania,ALB,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac, ...",2022-05-22,World Health Organization,https://covid19.who.int/
3,Algeria,DZA,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac...",2022-05-01,World Health Organization,https://covid19.who.int/
4,Andorra,AND,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech",2022-05-22,World Health Organization,https://covid19.who.int/

In [221]:
#Fixing the column names in location table by using iloc function in pandas.This is a data cleaning step.
#get the first row
new_column_name = location.iloc[0]
#remove the first row and store in the same data frame
location = location[1:]
#assign location column names with new column name stored above
location.columns = new_column_name
location.head()

,location,iso_code,vaccines,last_observation_date,source_name,source_website
1,Afghanistan,AFG,"CanSino, Covaxin, Johnson&Johnson, Moderna, Ox...",2022-06-01,World Health Organization,https://covid19.who.int/
2,Albania,ALB,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac, ...",2022-05-22,World Health Organization,https://covid19.who.int/
3,Algeria,DZA,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac...",2022-05-01,World Health Organization,https://covid19.who.int/
4,Andorra,AND,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech",2022-05-22,World Health Organization,https://covid19.who.int/
5,Angola,AGO,Oxford/AstraZeneca,2022-05-22,World Health Organization,https://covid19.who.int/

In [222]:
#Fetching only location and vaccines from location and storing in new data frame
location_and_vaccines = location[['location','vaccines']]
location_and_vaccines.head()

0     location                                           vaccines
1  Afghanistan  CanSino, Covaxin, Johnson&Johnson, Moderna, Ox...
2      Albania  Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac, ...
3      Algeria  Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac...
4      Andorra       Moderna, Oxford/AstraZeneca, Pfizer/BioNTech
5       Angola                                 Oxford/AstraZeneca

In [223]:
#Fetching only location and last_observation_date from location and storing in new data frame
location_and_last_observation_date = location[['location','last_observation_date']]
location_and_last_observation_date['last_observation_date'] = pd.to_datetime(location_and_last_observation_date['last_observation_date'])
location_and_last_observation_date.head()

/var/folders/0n/rbsnm7dj6r567xfgpjyvkx440000gn/T/ipykernel_85427/2641038401.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  location_and_last_observation_date['last_observation_date'] = pd.to_datetime(location_and_last_observation_date['last_observation_date'])

0     location last_observation_date
1  Afghanistan            2022-06-01
2      Albania            2022-05-22
3      Algeria            2022-05-01
4      Andorra            2022-05-22
5       Angola            2022-05-22

In [224]:
#Fetching only vaccine and total_vaccinations from vaccinations_by_manufacturer and storing in new data frame
vaccinations_by_manufacturer_and_total_vaccinations = vaccinations_by_manufacturer[['vaccine','total_vaccinations']]

vaccinations_by_manufacturer_and_total_vaccinations.head()

              vaccine  total_vaccinations
0             Moderna                   2
1  Oxford/AstraZeneca                   7
2     Pfizer/BioNTech                   1
3   Sinopharm/Beijing                   3
4           Sputnik V               20484

In [225]:
#Fetching only location and daily_vaccinations from vaccinations and storing in new data frame
location_and_daily_vaccinations = vaccinations[['location','daily_vaccinations']]
location_and_daily_vaccinations.head()

      location  daily_vaccinations
0  Afghanistan                 NaN
1  Afghanistan              1367.0
2  Afghanistan              1367.0
3  Afghanistan              1367.0
4  Afghanistan              1367.0

In [26]:
location_and_daily_vaccinations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106528 entries, 0 to 106527
Data columns (total 2 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   location            106528 non-null  object
 1   daily_vaccinations  106089 non-null  float64
dtypes: float64(1), object(1)
memory usage: 1.6+ MB

In [27]:
vaccinations_by_manufacturer_and_total_vaccinations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42763 entries, 0 to 42762
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   vaccine             42763 non-null  object
 1   total_vaccinations  42763 non-null  int64
dtypes: int64(1), object(1)
memory usage: 668.3+ KB

In [28]:
vaccinations_by_manufacturer_and_total_vaccinations.isnull().sum()

vaccine               0
total_vaccinations    0
dtype: int64

In [29]:
vaccinations_by_manufacturer_and_total_vaccinations.isnull().sum()

vaccine               0
total_vaccinations    0
dtype: int64

In [226]:
#Fill na values of total_vaccinations column as 0
vaccinations_by_manufacturer_and_total_vaccinations['total_vaccinations'] = vaccinations_by_manufacturer_and_total_vaccinations['total_vaccinations'].fillna(0)
vaccinations_by_manufacturer_and_total_vaccinations.head()

/var/folders/0n/rbsnm7dj6r567xfgpjyvkx440000gn/T/ipykernel_85427/1123504255.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vaccinations_by_manufacturer_and_total_vaccinations['total_vaccinations'] = vaccinations_by_manufacturer_and_total_vaccinations['total_vaccinations'].fillna(0)

              vaccine  total_vaccinations
0             Moderna                   2
1  Oxford/AstraZeneca                   7
2     Pfizer/BioNTech                   1
3   Sinopharm/Beijing                   3
4           Sputnik V               20484

In [227]:
#Fill na values of daily_vaccinations column of location_and_daily_vaccinations as 0
location_and_daily_vaccinations['daily_vaccinations'] = location_and_daily_vaccinations['daily_vaccinations'].fillna(0)
location_and_daily_vaccinations.head()

/var/folders/0n/rbsnm7dj6r567xfgpjyvkx440000gn/T/ipykernel_85427/3468044109.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  location_and_daily_vaccinations['daily_vaccinations'] = location_and_daily_vaccinations['daily_vaccinations'].fillna(0)

      location  daily_vaccinations
0  Afghanistan                 0.0
1  Afghanistan              1367.0
2  Afghanistan              1367.0
3  Afghanistan              1367.0
4  Afghanistan              1367.0

In [228]:
#Currently we have all the required data from all three tables in following 4 dataframes
#location_and_vaccines, location_and_last_observation_date, vaccinations_by_manufacturer_and_total_vaccinations,location_and_daily_vaccinations
#Storing all these to an S3 bucket
bucket = "bigdata-covid-project"
csv_buffer = StringIO()
csv_buffer

In [229]:
#store the dataframes into buffers which can be then stored to S3
location_and_vaccines.to_csv(csv_buffer)
csv_buffer.getvalue()

',location,vaccines\n1,Afghanistan,"CanSino, Covaxin, Johnson&Johnson, Moderna, Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sinovac, Sputnik Light, Sputnik V"\n2,Albania,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac, Sputnik V"\n3,Algeria,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac, Sputnik V"\n4,Andorra,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech"\n5,Angola,Oxford/AstraZeneca\n6,Anguilla,"Oxford/AstraZeneca, Pfizer/BioNTech"\n7,Antigua and Barbuda,"Oxford/AstraZeneca, Pfizer/BioNTech, Sputnik V"\n8,Argentina,"CanSino, Moderna, Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sputnik V"\n9,Armenia,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sinopharm/Wuhan, Sinovac, Sputnik Light, Sputnik V"\n10,Aruba,Pfizer/BioNTech\n11,Australia,"Moderna, Novavax, Oxford/AstraZeneca, Pfizer/BioNTech"\n12,Austria,"Johnson&Johnson, Moderna, Novavax, Oxford/AstraZeneca, Pfizer/BioNTech"\n13,Azerbaijan,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac, Sputnik V"\n14,Bahamas,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/BioNTech"\n15,Bahrain,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sputnik V"\n16,Bangladesh,"Johnson&Johnson, Moderna, Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sinovac"\n17,Barbados,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing"\n18,Belarus,"KoviVac/Chumakov, Sinopharm/Beijing, Sputnik Light, Sputnik V"\n19,Belgium,"Johnson&Johnson, Moderna, Novavax, Oxford/AstraZeneca, Pfizer/BioNTech"\n20,Belize,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing"\n21,Benin,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac"\n22,Bermuda,"Oxford/AstraZeneca, Pfizer/BioNTech"\n23,Bhutan,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing"\n24,Bolivia,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sputnik V"\n25,Bonaire Sint Eustatius and Saba,"Moderna, Pfizer/BioNTech"\n26,Bosnia and Herzegovina,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac, Sputnik V"\n27,Botswana,"Covaxin, Johnson&Johnson, Moderna, Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac"\n28,Brazil,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac"\n29,British Virgin Islands,"Johnson&Johnson, Oxford/AstraZeneca"\n30,Brunei,"Johnson&Johnson, Moderna, Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing"\n31,Bulgaria,"Johnson&Johnson, Moderna, Oxford/AstraZeneca, Pfizer/BioNTech"\n32,Burkina Faso,"Johnson&Johnson, Oxford/AstraZeneca, Sinopharm/Beijing"\n33,Burundi,"Johnson&Johnson, Sinopharm/Beijing"\n34,Cambodia,"Johnson&Johnson, Moderna, Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sinovac"\n35,Cameroon,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing"\n36,Canada,"Johnson&Johnson, Moderna, Novavax, Oxford/AstraZeneca, Pfizer/BioNTech"\n37,Cape Verde,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing"\n38,Cayman Islands,"Oxford/AstraZeneca, Pfizer/BioNTech"\n39,Central African Republic,"Covaxin, Oxford/AstraZeneca"\n40,Chad,Sinopharm/Beijing\n41,Chile,"CanSino, Moderna, Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac"\n42,China,"CanSino, IMBCAMS, KCONVAC, Sinopharm/Beijing, Sinopharm/Wuhan, Sinovac, ZF2001"\n43,Colombia,"Johnson&Johnson, Moderna, Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac"\n44,Comoros,"Covaxin, Oxford/AstraZeneca, Sinopharm/Beijing"\n45,Congo,"Moderna, Oxford/AstraZeneca, Sinopharm/Beijing, Sputnik V"\n46,Cook Islands,Pfizer/BioNTech\n47,Costa Rica,"Oxford/AstraZeneca, Pfizer/BioNTech"\n48,Cote d\'Ivoire,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sputnik V"\n49,Croatia,"Johnson&Johnson, Moderna, Novavax, Oxford/AstraZeneca, Pfizer/BioNTech"\n50,Cuba,"Abdala, Soberana Plus, Soberana02"\n51,Curacao,"Moderna, Pfizer/BioNTech"\n52,Cyprus,"Johnson&Johnson, Moderna, Novavax, Oxford/AstraZeneca, Pfizer/BioNTech"\n53,Czechia,"Johnson&Johnson, Moderna, Novavax, Oxford/AstraZeneca, Pfizer/BioNTech"\n54,Democratic Republic of Congo,Oxford/AstraZeneca\n55,Denmark,"Johnson&Johnson, Moderna, Pfizer/BioNTech"\n56,Djibouti,"CanSino, Covaxin, Johnson&Johnson, Moderna, Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sinovac, Sputnik Light, Sputnik V"\n57,Dominica,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing"\n58,Dominican Republic,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sinovac"\n59,Ecuador,"CanSino, Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac"\n60,Egypt,"CanSino, Covaxin, Johnson&Johnson, Moderna, Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sinovac, Sputnik Light, Sputnik V"\n61,El Salvador,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sinovac"\n62,England,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech"\n63,Equatorial Guinea,"Sinopharm/Beijing, Sinovac"\n64,Estonia,"Johnson&Johnson, Moderna, Novavax, Oxford/AstraZeneca, Pfizer/BioNTech"\n65,Eswatini,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/BioNTech"\n66,Ethiopia,"Covaxin, Johnson&Johnson, Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac"\n67,Faeroe Islands,"Moderna, Pfizer/BioNTech"\n68,Falkland Islands,Oxford/AstraZeneca\n69,Fiji,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech"\n70,Finland,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech"\n71,France,"Johnson&Johnson, Moderna, Novavax, Oxford/AstraZeneca, Pfizer/BioNTech"\n72,French Polynesia,"Johnson&Johnson, Pfizer/BioNTech"\n73,Gabon,"Pfizer/BioNTech, Sinopharm/Beijing, Sputnik V"\n74,Gambia,"Johnson&Johnson, Oxford/AstraZeneca, Sinopharm/Beijing"\n75,Georgia,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sinovac"\n76,Germany,"Johnson&Johnson, Moderna, Novavax, Oxford/AstraZeneca, Pfizer/BioNTech"\n77,Ghana,"Oxford/AstraZeneca, Sputnik V"\n78,Gibraltar,"Oxford/AstraZeneca, Pfizer/BioNTech"\n79,Greece,"Johnson&Johnson, Moderna, Novavax, Oxford/AstraZeneca, Pfizer/BioNTech"\n80,Greenland,Moderna\n81,Grenada,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/BioNTech"\n82,Guatemala,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech, Sputnik V"\n83,Guernsey,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech"\n84,Guinea,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sinovac, Sputnik V"\n85,Guinea-Bissau,"Oxford/AstraZeneca, Sinopharm/Beijing"\n86,Guyana,"Johnson&Johnson, Moderna, Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sputnik V"\n87,Haiti,"Johnson&Johnson, Moderna"\n88,Honduras,"Johnson&Johnson, Moderna, Oxford/AstraZeneca, Pfizer/BioNTech, Sputnik V"\n89,Hong Kong,"Pfizer/BioNTech, Sinovac"\n90,Hungary,"Johnson&Johnson, Moderna, Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sputnik V"\n91,Iceland,"Johnson&Johnson, Moderna, Oxford/AstraZeneca, Pfizer/BioNTech"\n92,India,"Corbevax, Covaxin, Novavax, Oxford/AstraZeneca, Sputnik V"\n93,Indonesia,"Johnson&Johnson, Moderna, Novavax, Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sinovac"\n94,Iran,"COVIran Barekat, Covaxin, FAKHRAVAC, Oxford/AstraZeneca, Razi Cov Pars, Sinopharm/Beijing, Soberana02, SpikoGen, Sputnik V"\n95,Iraq,"CanSino, Covaxin, Johnson&Johnson, Moderna, Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sinovac, Sputnik Light, Sputnik V"\n96,Ireland,"Johnson&Johnson, Moderna, Novavax, Oxford/AstraZeneca, Pfizer/BioNTech"\n97,Isle of Man,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech"\n98,Israel,"Moderna, Pfizer/BioNTech"\n99,Italy,"Johnson&Johnson, Moderna, Novavax, Oxford/AstraZeneca, Pfizer/BioNTech"\n100,Jamaica,"Johnson&Johnson, Moderna, Oxford/AstraZeneca, Pfizer/BioNTech"\n101,Japan,"Moderna, Novavax, Oxford/AstraZeneca, Pfizer/BioNTech"\n102,Jersey,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech"\n103,Jordan,"CanSino, Covaxin, Johnson&Johnson, Moderna, Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sinovac, Sputnik Light, Sputnik V"\n104,Kazakhstan,"QazVac, Sinopharm/Beijing, Sputnik V"\n105,Kenya,"Johnson&Johnson, Moderna, Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing"\n106,Kiribati,Oxford/AstraZeneca\n107,Kosovo,"Oxford/AstraZeneca, Pfizer/BioNTech"\n108,Kuwait,"CanSino, Covaxin, Johnson&Johnson, Moderna, Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sinovac, Sputnik Light, Sputnik V"\n109,Kyrgyzstan,"Sinopharm/Beijing, Sputnik V"\n110,Laos,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sinovac, Sputnik Light, Sputnik V"\n111,Latvia,"Johnson&Johnson, Moderna, Novavax, Oxford/AstraZeneca, Pfizer/BioNTech"\n112,Lebanon,"CanSino, Covaxin, Johnson&Johnson, Moderna, Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sinovac, Sputnik Light, Sputnik V"\n113,Lesotho,"Johnson&Johnson, Oxford/AstraZeneca, Sinopharm/Beijing"\n114,Liberia,Oxford/AstraZeneca\n115,Libya,"CanSino, Covaxin, Johnson&Johnson, Moderna, Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sinovac, Sputnik Light, Sputnik V"\n116,Liechtenstein,"Johnson&Johnson, Moderna, Pfizer/BioNTech"\n117,Lithuania,"Johnson&Johnson, Moderna, Novavax, Oxford/AstraZeneca, Pfizer/BioNTech"\n118,Luxembourg,"Johnson&Johnson, Moderna, Novavax, Oxford/AstraZeneca, Pfizer/BioNTech"\n119,Macao,"Pfizer/BioNTech, Sinopharm/Beijing"\n120,Madagascar,"Johnson&Johnson, Oxford/AstraZeneca, Sinopharm/Beijing"\n121,Malawi,"Johnson&Johnson, Oxford/AstraZeneca"\n122,Malaysia,"CanSino, Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sinovac"\n123,Maldives,"Johnson&Johnson, Moderna, Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sinovac, Sputnik V"\n124,Mali,Oxford/AstraZeneca\n125,Malta,"Johnson&Johnson, Moderna, Oxford/AstraZeneca, Pfizer/BioNTech"\n126,Mauritania,"Oxford/AstraZeneca, Sinopharm/Beijing"\n127,Mauritius,"Covaxin, Oxford/AstraZeneca, Sinopharm/Beijing"\n128,Mexico,"CanSino, Johnson&Johnson, Moderna, Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac, Sputnik V"\n129,Moldova,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sputnik V"\n130,Monaco,Pfizer/BioNTech\n131,Mongolia,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sputnik V"\n132,Montenegro,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sputnik V"\n133,Montserrat,Oxford/AstraZeneca\n134,Morocco,"CanSino, Covaxin, Johnson&Johnson, Moderna, Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sinovac, Sputnik Light, Sputnik V"\n135,Mozambique,"Johnson&Johnson, Oxford/AstraZeneca, Sinopharm/Beijing"\n136,Myanmar,"Oxford/AstraZeneca, Sinopharm/Beijing"\n137,Namibia,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing"\n138,Nauru,Oxford/AstraZeneca\n139,Nepal,"Johnson&Johnson, Moderna, Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing"\n140,Netherlands,"Johnson&Johnson, Moderna, Novavax, Oxford/AstraZeneca, Pfizer/BioNTech"\n141,New Caledonia,Pfizer/BioNTech\n142,New Zealand,"Novavax, Oxford/AstraZeneca, Pfizer/BioNTech"\n143,Nicaragua,"Abdala, Johnson&Johnson, Oxford/AstraZeneca, Pfizer/BioNTech, Soberana02, Sputnik Light, Sputnik V"\n144,Niger,"Oxford/AstraZeneca, Sinopharm/Beijing"\n145,Nigeria,Oxford/AstraZeneca\n146,Niue,Pfizer/BioNTech\n147,North Macedonia,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sinopharm/Wuhan, Sinovac, Sputnik V"\n148,Northern Cyprus,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac"\n149,Northern Ireland,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech"\n150,Norway,"Moderna, Pfizer/BioNTech"\n151,Oman,"CanSino, Covaxin, Johnson&Johnson, Moderna, Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sinovac, Sputnik Light, Sputnik V"\n152,Pakistan,"CanSino, Covaxin, Moderna, Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sinovac, Sputnik V"\n153,Palestine,"CanSino, Covaxin, Johnson&Johnson, Moderna, Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sinovac, Sputnik Light, Sputnik V"\n154,Panama,"Oxford/AstraZeneca, Pfizer/BioNTech"\n155,Papua New Guinea,Oxford/AstraZeneca\n156,Paraguay,"Covaxin, Moderna, Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sinovac, Sputnik V"\n157,Peru,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing"\n158,Philippines,"Johnson&Johnson, Moderna, Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sinovac, Sputnik Light, Sputnik V"\n159,Pitcairn,Oxford/AstraZeneca\n160,Poland,"Johnson&Johnson, Moderna, Novavax, Oxford/AstraZeneca, Pfizer/BioNTech"\n161,Portugal,"Covaxin, Johnson&Johnson, Moderna, Novavax, Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sinovac"\n162,Qatar,"Moderna, Pfizer/BioNTech"\n163,Romania,"Johnson&Johnson, Moderna, Oxford/AstraZeneca, Pfizer/BioNTech"\n164,Russia,"EpiVacCorona, Sputnik V"\n165,Rwanda,"Johnson&Johnson, Moderna, Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sinovac, Sputnik V"\n166,Saint Helena,Oxford/AstraZeneca\n167,Saint Kitts and Nevis,"Oxford/AstraZeneca, Pfizer/BioNTech"\n168,Saint Lucia,"Johnson&Johnson, Moderna, Oxford/AstraZeneca, Pfizer/BioNTech"\n169,Saint Vincent and the Grenadines,"Oxford/AstraZeneca, Pfizer/BioNTech, Sputnik Light, Sputnik V"\n170,Samoa,Oxford/AstraZeneca\n171,San Marino,"Pfizer/BioNTech, Sputnik V"\n172,Sao Tome and Principe,Oxford/AstraZeneca\n173,Saudi Arabia,"Oxford/AstraZeneca, Pfizer/BioNTech"\n174,Scotland,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech"\n175,Senegal,"Johnson&Johnson, Oxford/AstraZeneca, Sinopharm/Beijing"\n176,Serbia,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sputnik V"\n177,Seychelles,"Oxford/AstraZeneca, Sinopharm/Beijing, Sputnik V"\n178,Sierra Leone,"Oxford/AstraZeneca, Sinopharm/Beijing"\n179,Singapore,"Moderna, Novavax, Pfizer/BioNTech, Sinopharm/Beijing, Sinovac"\n180,Sint Maarten (Dutch part),"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech"\n181,Slovakia,"Johnson&Johnson, Moderna, Novavax, Oxford/AstraZeneca, Pfizer/BioNTech, Sputnik V"\n182,Slovenia,"Johnson&Johnson, Moderna, Novavax, Oxford/AstraZeneca, Pfizer/BioNTech"\n183,Solomon Islands,Oxford/AstraZeneca\n184,Somalia,"CanSino, Covaxin, Johnson&Johnson, Moderna, Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sinovac, Sputnik Light, Sputnik V"\n185,South Africa,"Johnson&Johnson, Pfizer/BioNTech"\n186,South Korea,"Johnson&Johnson, Moderna, Novavax, Oxford/AstraZeneca, Pfizer/BioNTech"\n187,South Sudan,"Johnson&Johnson, Oxford/AstraZeneca"\n188,Spain,"Johnson&Johnson, Moderna, Oxford/AstraZeneca, Pfizer/BioNTech"\n189,Sri Lanka,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sputnik V"\n190,Sudan,"CanSino, Covaxin, Johnson&Johnson, Moderna, Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sinovac, Sputnik Light, Sputnik V"\n191,Suriname,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing"\n192,Sweden,"Moderna, Novavax, Oxford/AstraZeneca, Pfizer/BioNTech"\n193,Switzerland,"Johnson&Johnson, Moderna, Pfizer/BioNTech"\n194,Syria,"CanSino, Covaxin, Johnson&Johnson, Moderna, Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sinovac, Sputnik Light, Sputnik V"\n195,Taiwan,"Medigen, Moderna, Oxford/AstraZeneca, Pfizer/BioNTech"\n196,Tajikistan,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac, Sputnik V"\n197,Tanzania,"Johnson&Johnson, Pfizer/BioNTech, Sinopharm/Beijing"\n198,Thailand,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sinovac"\n199,Timor,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac"\n200,Togo,Oxford/AstraZeneca\n201,Tokelau,Pfizer/BioNTech\n202,Tonga,Oxford/AstraZeneca\n203,Trinidad and Tobago,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing"\n204,Tunisia,"CanSino, Covaxin, Johnson&Johnson, Moderna, Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sinovac, Sputnik Light, Sputnik V"\n205,Turkey,"Pfizer/BioNTech, Sinovac, Turkovac"\n206,Turkmenistan,"EpiVacCorona, Oxford/AstraZeneca, QazVac, Sinopharm/Beijing, Sputnik V, ZF2001"\n207,Turks and Caicos Islands,Pfizer/BioNTech\n208,Tuvalu,Oxford/AstraZeneca\n209,Uganda,"Johnson&Johnson, Moderna, Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac"\n210,Ukraine,"Johnson&Johnson, Moderna, Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac"\n211,United Arab Emirates,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sinopharm/Wuhan, Sputnik V"\n212,United Kingdom,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech"\n213,United States,"Johnson&Johnson, Moderna, Pfizer/BioNTech"\n214,Uruguay,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac"\n215,Uzbekistan,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac, Sputnik Light, Sputnik V, ZF2001"\n216,Vanuatu,Oxford/AstraZeneca\n217,Venezuela,"Abdala, Sinopharm/Beijing, Sinovac, Soberana02, Sputnik Light, Sputnik V"\n218,Vietnam,"Abdala, Moderna, Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sputnik V"\n219,Wales,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech"\n220,Wallis and Futuna,Moderna\n221,Yemen,"CanSino, Covaxin, Johnson&Johnson, Moderna, Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sinovac, Sputnik Light, Sputnik V"\n222,Zambia,"Johnson&Johnson, Oxford/AstraZeneca, Sinopharm/Beijing"\n223,Zimbabwe,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac, Sputnik V"\n'

In [230]:
#Create S3 object and storing the buffers into the S3
ACCESS_KEY = ""
ACCESS_SECRET = ""
REGION = "us-east-1"
s3 = boto3.client(
    's3',
    aws_access_key_id=ACCESS_KEY,
    aws_secret_access_key=ACCESS_SECRET,
    region_name=REGION,
    )
#csv_buffer.seek(0)
s3.put_object(Bucket=bucket, Body=csv_buffer.getvalue(), Key='output/location_and_vaccines.csv')

{'ResponseMetadata': {'RequestId': 'HAF5YFGM1EE5AYZ4',
  'HostId': 'C7d0s8efv04SEnjQjHEvVoFvg92dgU55tMMxC9tKmMviUQKOMulgXET/yJRNFY5Remzl97UaOwU=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'C7d0s8efv04SEnjQjHEvVoFvg92dgU55tMMxC9tKmMviUQKOMulgXET/yJRNFY5Remzl97UaOwU=',
   'x-amz-request-id': 'HAF5YFGM1EE5AYZ4',
   'date': 'Fri, 10 Nov 2023 14:08:04 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"9112ffd3c7895d7202f201529116c5de"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"9112ffd3c7895d7202f201529116c5de"',
 'ServerSideEncryption': 'AES256'}

In [231]:
#load location_and_last_observation_date to s3
csv_buffer_1 = StringIO()
csv_buffer_1
location_and_last_observation_date.to_csv(csv_buffer_1)
csv_buffer_1.getvalue()
s3.put_object(Bucket=bucket, Body=csv_buffer_1.getvalue(), Key='output/location_and_last_observation_date.csv')

{'ResponseMetadata': {'RequestId': '3KB5TDPACDF0E084',
  'HostId': 'tQLG5u40VsfoG+9PQPUYblGQoJHQP6lQj60imrYngEEC+3WTXRzetq1GkE4fC62uaXp7y3YqSuc=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'tQLG5u40VsfoG+9PQPUYblGQoJHQP6lQj60imrYngEEC+3WTXRzetq1GkE4fC62uaXp7y3YqSuc=',
   'x-amz-request-id': '3KB5TDPACDF0E084',
   'date': 'Fri, 10 Nov 2023 14:08:27 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"b09172979633b6179e69453456d55dea"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"b09172979633b6179e69453456d55dea"',
 'ServerSideEncryption': 'AES256'}

In [232]:
#load vaccinations_by_manufacturer_and_total_vaccinations to s3
csv_buffer_2 = StringIO()
csv_buffer_2
vaccinations_by_manufacturer_and_total_vaccinations.to_csv(csv_buffer_2)
csv_buffer.getvalue()
s3.put_object(Bucket=bucket, Body=csv_buffer_2.getvalue(), Key='output/vaccinations_by_manufacturer_and_total_vaccinations.csv')

{'ResponseMetadata': {'RequestId': 'D3H6G2ZZJDWH9V2D',
  'HostId': 'yjOOYEXkAaYT4aP1SsnIHiL/7atyjdm3Rlyg62572pGhQSfyF6ldbjrqqoGDcFgUOqTPBsCX9RE=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'yjOOYEXkAaYT4aP1SsnIHiL/7atyjdm3Rlyg62572pGhQSfyF6ldbjrqqoGDcFgUOqTPBsCX9RE=',
   'x-amz-request-id': 'D3H6G2ZZJDWH9V2D',
   'date': 'Fri, 10 Nov 2023 14:08:39 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"5c7dbf0903114024e795d16b133cb7c4"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"5c7dbf0903114024e795d16b133cb7c4"',
 'ServerSideEncryption': 'AES256'}

In [233]:
#load location_and_daily_vaccinations to s3
csv_buffer_3 = StringIO()
csv_buffer_3
location_and_daily_vaccinations.to_csv(csv_buffer_3)
csv_buffer_3.getvalue()
s3.put_object(Bucket=bucket, Body=csv_buffer_3.getvalue(), Key='output/location_and_daily_vaccinations.csv')

{'ResponseMetadata': {'RequestId': '9F1ZMX207477Z29B',
  'HostId': 'OONjrbIHFlZXDWsdg/nkjWVyUcBXzfVIfzCvbQNMjhthqIqSt71nR4GaBnjNrxLrORMqwqghVpo=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'OONjrbIHFlZXDWsdg/nkjWVyUcBXzfVIfzCvbQNMjhthqIqSt71nR4GaBnjNrxLrORMqwqghVpo=',
   'x-amz-request-id': '9F1ZMX207477Z29B',
   'date': 'Fri, 10 Nov 2023 14:08:47 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"02dab7065dfb0c6704a9ee8de6bb3e3b"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"02dab7065dfb0c6704a9ee8de6bb3e3b"',
 'ServerSideEncryption': 'AES256'}

In [234]:
#Extract schema from the tables stored in the s3 output bucket
#location_and_vaccines
location_and_vaccines_sql = pd.io.sql.get_schema(location_and_vaccines.reset_index(),'location_and_vaccines' )
print(''.join(location_and_vaccines_sql))

CREATE TABLE "location_and_vaccines" (
"index" INTEGER,
  "location" TEXT,
  "vaccines" TEXT
)

In [235]:
#location_and_last_observation_date
location_and_last_observation_date_sql = pd.io.sql.get_schema(location_and_last_observation_date.reset_index(),'location_and_last_observation_date' )
print(''.join(location_and_last_observation_date_sql))

CREATE TABLE "location_and_last_observation_date" (
"index" INTEGER,
  "location" TEXT,
  "last_observation_date" TIMESTAMP
)

In [236]:
#vaccinations_by_manufacturer_and_total_vaccinations
vaccinations_by_manufacturer_and_total_vaccinations_sql = pd.io.sql.get_schema(vaccinations_by_manufacturer_and_total_vaccinations.reset_index(),'vaccinations_by_manufacturer_and_total_vaccinations' )
print(''.join(vaccinations_by_manufacturer_and_total_vaccinations_sql))

CREATE TABLE "vaccinations_by_manufacturer_and_total_vaccinations" (
"index" INTEGER,
  "vaccine" TEXT,
  "total_vaccinations" INTEGER
)

In [237]:
#location_and_daily_vaccinations
location_and_daily_vaccinations_sql = pd.io.sql.get_schema(location_and_daily_vaccinations.reset_index(),'location_and_daily_vaccinations' )
print(''.join(location_and_daily_vaccinations_sql))

CREATE TABLE "location_and_daily_vaccinations" (
"index" INTEGER,
  "location" TEXT,
  "daily_vaccinations" REAL
)

In [238]:
import redshift_connector
# Connects to Redshift cluster using AWS credentials
conn = redshift_connector.connect(
     host='bigdata-covid-redshift.csuwrslimmfj.us-east-1.redshift.amazonaws.com',
     port=5439,
     database='dev',
     user='',
     password=''
  )
#cursor= conn.cursor()
conn.autocommit=True
  
# Create a Cursor object
cursor: redshift_connector.Cursor = conn.cursor()
#Creating location_and_vaccines table on Redshift
cursor.execute("""
CREATE TABLE "location_and_vaccines" (
"index" INTEGER,
  "location" TEXT,
  "vaccines" TEXT
)
""")

In [239]:
#Creating location_and_last_observation_date table on Redshift
cursor.execute("""
CREATE TABLE "location_and_last_observation_date" (
"index" INTEGER,
  "location" TEXT,
  "last_observation_date" TIMESTAMP
)

""")

In [240]:
#Creating vaccinations_by_manufacturer_and_total_vaccinations table on Redshift
cursor.execute("""
CREATE TABLE "vaccinations_by_manufacturer_and_total_vaccinations" (
"index" INTEGER,
  "vaccine" TEXT,
  "total_vaccinations" INTEGER
)
""")

In [241]:
#Creating location_and_daily_vaccinations table on Redshift
cursor.execute("""
CREATE TABLE "location_and_daily_vaccinations" (
"index" INTEGER,
  "location" TEXT,
  "daily_vaccinations" REAL
)
""")

In [242]:
#copy command to copy data from s3 to redshift tables

cursor.execute("""
copy location_and_vaccines from 's3://bigdata-covid-project/output/location_and_vaccines.csv'
access_key_id ''
secret_access_key ''
delimiter ','
region 'us-east-1'
IGNOREHEADER 1
removequotes
emptyasnull
blanksasnull
""")

In [244]:

cursor.execute("""
copy location_and_daily_vaccinations from 's3://bigdata-covid-project/output/location_and_daily_vaccinations.csv'
access_key_id ''
secret_access_key ''
delimiter ','
region 'us-east-1'
IGNOREHEADER 1
removequotes
emptyasnull
blanksasnull
""")

In [245]:
cursor.execute("""
copy location_and_last_observation_date from 's3://bigdata-covid-project/output/location_and_last_observation_date.csv'
access_key_id ''
secret_access_key ''
delimiter ','
region 'us-east-1'
IGNOREHEADER 1
removequotes
emptyasnull
blanksasnull
""")

In [246]:
cursor.execute("""
copy dev.public.vaccinations_by_manufacturer_and_total_vaccinations from 's3://bigdata-covid-project/output/vaccinations_by_manufacturer_and_total_vaccinations.csv'
access_key_id ''
secret_access_key ''
delimiter ','
region 'us-east-1'
IGNOREHEADER 1
removequotes
emptyasnull
blanksasnull
""")